* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
/* Header */
.header-info {
     display: flex;
     justify-content: space-between;
     padding: 0 40px;
}

.logo img {
     width: 200px;
}

.detail-info {
     display: flex;
}

.search {
     position: relative;
     margin-top: 10px;
     margin-left: 50px;
}

.search-icon {
     position: absolute;
     right: 8px;
     top: -2px;
     font-size: 26px;
     cursor: pointer;
}

.search input {
     width: 350px;
     height: 38px;
     padding: 0 20px;
     border: 2px solid #eb91a3;
     border-radius: 6px;
}

.detail-info i {
     margin-top: 10px;
     font-size: 26px;
}

.signup,
.shop {
     display: flex;
     margin-right: 40px;
     cursor: pointer;
     text-decoration: none;
     color: #000;
}

.detail-info .text {
     margin-top: 15px;
}

.shop-nofi {
     margin-top: 6px;
     margin-left: 3px;
     height: 20px;
     padding: 3px;
     background-color: brown;
     color: #fff;
}

/*Nav */
#nav,
#nav-mobile {
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 0 100px;
     list-style: none;
     background: #eb91a3;
}

#nav-mobile {
     display: none;
}

.nav-items {
     color: #fff;
     padding: 14px 0;
     text-decoration: none;
}

.menu {
     display: none;
}

/* Content */

#content {
     padding: 8px 60px 30px 60px;
}

.title {
     display: block;
     width: 100%;
     font-weight: 700;
     font-size: 30px;
     padding: 10px 0;
     background-color: #dce6f6;
     text-align: center;
     margin-bottom: 40px;
}
.signIn, .signUp{
     display: flex;
     justify-content: center;
     align-items: center;
}
.signIn span, .signUp span{
     display: block ;
     font-size: 26px;
     font-weight: 500;
     margin-bottom: 20px;
}
.signIn label, .signUp label{
     font-size: 20px;
}
.signupBtn, .signinBtn{
     cursor: pointer;
     color: #9f4d1b;
     font-size: 18px;
}
.formIn, .formUp{
     padding-top: 8px;
     width: 500px;
     padding-bottom: 80px;
}

.formIn input, .formUp input{
     margin-bottom: 12px;
     width: 80%;
     padding: 6px;
     font-size: 16px;
}
.formIn button, .formUp button{
     margin-top: 20px;
     float: right;
     background: #eb91a3;
     color: #fff;
     font-weight: 600;
     font-size: 16px;
     border-radius: 8px;
     border: none;
     padding: 10px 30px;
     cursor: pointer;
     margin-right: 20%;
}

/*Footer */
#footer {
     display: flex;
     justify-content: space-between;
     padding: 12px 50px;
     background-color: #ebe7a9;
}

#footer .header {
     color: #000;
     font-size: 18px;
     font-weight: 600;
}

#footer .contact {
     padding-right: 70px;
     width: 26%;
}

#footer .list {
     width: 23%;
}

#footer .about {
     width: 26%;
}

#footer .social {
     width: 26%;
}

#footer .detail {
     margin-top: 6px;
     list-style: none;
     font-size: 15px;
     line-height: 20px;
}
#footer .detail a {
     text-decoration: none;
     color: #000;
}
#footer .icon {
     display: flex;
}

#footer .icon-detail {
     font-size: 40px;
     margin-right: 8px;
     color: #0a185e;
     cursor: pointer;
}



/* BREAK POINT*/

/* PC */
@media (min-width: 64em) {}

/* Tablet && Mobile */
@media (max-width: 63.9375em) {
     .detail-info .text {
          display: none;
     }
     
     .box-detail {
          display: block;
     }
}

/* Tablet*/
@media (min-width: 46.25em) and (max-width:63.9375em) {
     #nav {
          padding: 0 5px;
     }
     
     .logo img {
          height: 50px;
          width: 100px;
     }
}

/* Mobile */
@media (max-width: 46.1875em) {
     .header-info {
               padding: 6px 0 10px 0;
          }
     
          .logo {
               display: none;
          }
     
          .search {
               margin-left: 8px;
          }
     
          .search input {
               width: 200px;
          }
     
          .detail-info {
               margin-left: 24px;
          }
     
          .detail-info i {
               margin-top: 10px;
          }
     
          .signup,
          .shop {
               display: flex;
               cursor: pointer;
               text-decoration: none;
               color: #000;
          }
     
          /* nav */
          #nav {
               display: none;
          }
     
          .nav-items {
               color: #fff;
               padding: 4px 0;
               text-decoration: none;
          }
     
          .menu {
               display: block;
          }
     
          #nav-mobile {
               position: relative;
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 10px 40px;
          }
     
          #nav-mobile i {
               cursor: pointer;
               font-size: 30px;
          }
     
          .sub-menu {
               position: absolute;
               display: none;
               padding: 20px;
               border-radius: 6px;
               background: #685e5e;
               right: 40px;
               top: 40px;
          }
     
          .sub-menu.active {
               display: block;
          }
     
          .sub-menu div {
               margin-bottom: 8px;
          }
     
          .signup,
          .shop {
               display: flex;
               cursor: pointer;
               text-decoration: none;
               color: #000;
          }
     
          /* nav */
          #nav {
               display: none;
          }
     
          .nav-items {
               color: #fff;
               padding: 4px 0;
               text-decoration: none;
          }
     
          .menu {
               display: block;
          }
     
          #nav-mobile {
               position: relative;
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 10px 40px;
          }
     
          #nav-mobile i {
               cursor: pointer;
               font-size: 30px;
          }
     
          .sub-menu {
               position: absolute;
               display: none;
               padding: 20px;
               border-radius: 6px;
               background: #685e5e;
               right: 40px;
               top: 40px;
          }
     
          .sub-menu.active {
               display: block;
          }
     
          .sub-menu div {
               margin-bottom: 8px;
          }

     .signUp {
          display: block;
     }
     .formIn,
     .formUp {
          width: 100%;
     }
     .formIn {
          margin-right: 0px;
          border-right: none;
     }
     .formUp{
          margin:80px 0;
     }

     /*Footer */
     #footer{
          display: block;
     }
     #footer .contact,#footer .list, #footer .about,#footer .social {
          width: 100%;
          margin-top: 10px;
     }
}